<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color:blueviolet"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="clientForm"  (ngSubmit)="onFormSubmit(clientForm.value)">
    <ion-item>
      <ion-label position="floating">Cliente nombres</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.first_name" formControlName="cli_nombres"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cliente apellidos</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.last_name" formControlName="cli_apellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cliente Correo</ion-label>
      <ion-textarea [(ngModel)]="cliente.email" formControlName="cli_correo"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.clave" formControlName="cli_clave"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!clientForm.valid">Submit</ion-button>
  </form>
</ion-content>
