<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle Cliente</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">ID</ion-label>
      <ion-input type="text" name="txId" [(ngModel)]="cliente.id" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="txNombres" [(ngModel)]="cliente.first_name" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" name="txApellidos" [(ngModel)]="cliente.last_name" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="text" name="txCorreo" [(ngModel)]="cliente.email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="txClave" [(ngModel)]="cliente.clave" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block">Leer</ion-button>
        <ion-button color="danger" expand="block">Grabar Automático</ion-button>
        <br><br><br>
        <ion-button color="danger" expand="block" [routerLink]="['/cliente-eliminar/:id']">Eliminar Usuario</ion-button>
        <ion-button color="danger" expand="block" href="/cliente-agregar/">Agregar Usuario</ion-button>
        <ion-button color="danger" expand="block" href="/cliente-actualizar/">Modificar Usuario</ion-button>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-label class="ion-text-wrap" position="floating" color="danger"> {{msgError}}</ion-label>
    </ion-row>

  </form>
</ion-content>