<ion-toolbar>
  <ion-buttons id="main-content">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button [routerLink]="['/home']" expand="block">Home</ion-button>
    <ion-button (click)="logout()" expand="block">Cerrar sesion</ion-button>
  </ion-content>
</ion-menu>

<ion-content>
  <ion-card #card>
    <p class="ion-padding">Bienvenido a BioImplantes! {{ user }} </p>
    <p class="ion-padding">Haz click aquí para verificar listado de productos</p>
    <ion-button [routerLink]="['/product-list']">Lista de productos</ion-button>
  </ion-card>

  <ion-card #card>
    <h1 class="ion-padding">Resumen de pedidos</h1>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>Pedido 1</ion-item>
        </ion-col>
        <ion-button fill="clear" (click)="detailsOpt()">Ver detalles</ion-button>
      </ion-row>
      <img [src]="getPhoto()" style="width: 200px;"/>
      <br>
      <ion-button (click)="takePicture()">Foto</ion-button>
      <ion-button (click)="getCurrentPosition()">Ubicacion</ion-button>
    </ion-grid>
    <br>
    <ion-card>
      <capacitor-google-map #map></capacitor-google-map>
    </ion-card>
    <br>
    <br>
  </ion-card>

<ion-button (click)="play()">Play</ion-button>
<ion-button (click)="pause()">Pause</ion-button>
<ion-button (click)="stop()">Stop</ion-button>
</ion-content>
  

